.content-1 {
    display: flex;
    flex-flow: column;
    width: calc(100vw - 320px);
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.438);
    border-radius: 10px;
    left: 270px;
    bottom: 222px;
    overflow: hidden;
    user-select: none;
}

.content-title {
    font-size: 1.3rem; 
    font-weight: bold; 
    color: rgb(29, 182, 105);
    padding: 10px 50px;
    user-select: none;
    &.c-1 {
      background-image: url(image/calendar.svg);
      background-repeat: no-repeat;
      background-size: 30px 30px;
      background-position: 10px 10px;
      
    }
}

.sc-list {
  overflow-y: auto;
  word-wrap: break-word; /* 長い単語を折り返して表示 */
  white-space: normal; /* テキストが折り返されるように設定 */
  margin-left: 10px;
  width: 300px;
  margin-top: 20px;
  border: 1px solid #ddd;
  height: 316px;
  box-sizing: border-box;
  padding-left: 10px;
  line-height: 25px;
}

.sc-year {
  font-weight: bold;
  font-size: 1.3rem;
  position: relative;
  top: 10px;
  margin-left: 15px;
}

#toggle-btn {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(114, 204, 159, 0.425);
  border-radius: 10px;
  position: relative;
  bottom: 4px;
  cursor: pointer;
  width: 150px;text-align: center;
}

#toggle-btn:hover {
  border: 1px solid rgb(47, 212, 130);
  background-color: rgba(114, 204, 159, 0.103);
}

.calendar {
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
    width: 300px;
    margin-left: 10px;
  }
  .calendar td, .calendar th {
    text-align: center;
    width: 20px;
    height: 45px;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: pointer;

  }
  .calendar th {
    background-color: #f2f2f2;
  }
  .calendar .today {
    background-color: #fff27f;
  }
  .calendar .selected {
    outline: 2px solid rgb(53, 174, 255);
    outline-offset: -2px;
  }
  .green-circle {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
  }
  .sc-saturday {
    color: blue;
  }
  .sc-sunday {
    color: red;
  }
  #toggle-btn {
    margin: 10px 0;
    padding: 6px 12px;
    font-size: 16px;
  }
  .hidden {
    display: none;
  }

  .message {
    position: relative;
    left: 370px;
    bottom: 355px;
    width: calc(100vw - 700px);
  }



.ca-select {
  position: relative;
  left: 30px;
  top: 13px;
}

.sc-today {
  position: relative;
  left: 30px;
  top: 13px;

}

.event {
    width: calc(100vw - 400px);
    background-color: rgb(255, 255, 255);
    top: auto;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 5px 7px 0 rgba(29, 182, 106, 0.247);
    border: 1px solid rgba(114, 204, 159, 0.425);
    position: relative;
    left: 370px;
    bottom: 375px;
    user-select: none;
}